In [53]:
import numpy as np
import pandas as pd

In [54]:
df=pd.read_csv("airlines.dat",header=None,names=["Airline_ID","Name","Alias","IATA","ICAO","Callsign","Country","Active"],skiprows=2)

In [55]:
df = df[df["Country"]=="India"]
df = df[df["Active"]=="Y"]

In [56]:
df = df[["Name","IATA"]]
df.dropna(inplace=True)
df.rename(columns={'IATA':'iata_code','Name':'airline_name'},inplace=True)
df.reset_index(inplace=True,drop=True)
# df.set_index('iata_code',inplace=True)
df.index += 1
# df = df.reset_index(drop=True)

In [57]:
df.head()

        airline_name iata_code
1  Air India Limited        AI
2         Air Sahara        S2
3  Air India Express        IX
4             Go Air        G8
5    IndiGo Airlines        6E

In [58]:
def frame_to_sql(source):
    f = open('airline.sql', 'w')
    f.write('INSERT INTO airline ('+ 'id,' + str(', '.join(source.columns)) + ') VALUES ')
    f.write('\n')
    count=1
    for index, row in source.iterrows(): 
        lst = np.insert(row.values, 0, index, axis=0)
        f.write( str(tuple(lst)))
        f.write(';') if count==len(source) else f.write(',\n')
        count=count+1
        
    f.close()

In [59]:
frame_to_sql(df)