In [6]:
import pandas as pd
import numpy as np

In [3]:
df_hotel = pd.read_csv("hotel.csv")

In [4]:
def frame_to_sql(source):
    f = open('hotel.sql', 'w')
    f.write('INSERT INTO hotel ('+ 'id,' + str(', '.join(source.columns)) + ') VALUES ')
    f.write('\n')
    count=1
    for index, row in source.iterrows(): 
        lst = np.insert(row.values, 0, index, axis=0)
        f.write( str(tuple(lst)))
        f.write(';') if count==len(source) else f.write(',\n')
        count=count+1
        
    f.close()

In [7]:
frame_to_sql(df_hotel)

In [9]:
print(pd.io.sql.get_schema(df_hotel, 'data'))

CREATE TABLE "data" (
"id" INTEGER,
  "address" TEXT,
  "area" TEXT,
  "city" TEXT,
  "hotel_description" TEXT,
  "hotel_facilities" TEXT,
  "hotel_star_rating" TEXT,
  "image_urls" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "property_name" TEXT,
  "property_type" TEXT,
  "room_area" TEXT,
  "room_count" INTEGER,
  "room_facilities" TEXT,
  "room_type" TEXT,
  "state" TEXT,
  "tad_review_count" REAL,
  "tad_review_rating" REAL,
  "tad_stay_review_rating" TEXT,
  "room_price" TEXT,
  "occupancy" TEXT,
  "additional_info" TEXT
)